.step-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    button + button {
        margin-left: 0;
    }
}

a.step-button {
    justify-content: center;
    text-decoration: none;
    transition: all .3s ease;

    &.has-margin-top {
        margin-top: 40px;
    }

    &:hover {
        color: $light-color;
        background-color: $line-color;
    }
}

.step-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 170px;
    padding: 8px 10px;
    margin-bottom: 10px;
    outline: none;
    appearance: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: $line-color;
    cursor: pointer;
    background-color: $light-color;
    border: 2px solid $line-color;
    box-sizing: border-box;
    border-radius: 4px;

    @include breakpoint($min-tablet) {
        width: auto;
        margin-bottom: 0;
    }

    i {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.is-next {
        color: $light-color;
        background-color: $line-color;
    }

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
    }
}
