html,
body {
    height: 100%;
    margin: 0;
  }

  #app {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 1rem 4rem;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2C3E50;

    @include breakpoint($min-desktop-xlarge) {
      height: 100%;
    }
  }
  
  .step {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
  }
  .links {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  hr {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  
  p {
    width: 100%;
    text-align: left;
    margin: .5rem 0;
  }
  img {
    width: 100%;
    border: 1px solid black;
    margin-top: 1rem;
  }
  .code {
    width: fit-content;
    padding: 1rem;
    margin: 1rem auto;
    text-align: left;
    font-family: monospace;
    background-color: $light-color;
    border-radius: 4px;
  }
  .doc-box {
    padding: 1rem;
    margin: 2rem 0;
    background-color: $grey-light-color;
    border: 1px solid $grey-color;
  }
  .exercise {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $grey-color;
  
    ul, ol {
      margin: .5em 0;
      text-align: left;
    }
  }
  
  .exercise-solution {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .info {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background-color: $grey-light-color;
    border: 1px solid $grey-color;
  }

  .apires {
    margin: 10px 0;
  }
  